.button {
  background-color: #ffc85e;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
}

.button:hover {
  background-color: #d59622;
}
